{% load static %}
{% load i18n %}
<header class="site-header" style="margin-bottom: 5px">
    <div class="container-sm logo-area">
        <a href="https://www.coa.gov.tw/" style='text-decoration: none'>
        <table>
            <tbody>
                <tr>
                    <td>
                    <img class="Logo" src="{% static 'images/logo.png' %}" alt="Ministry of Agriculture"></img>
                    </td>
                    <td>
                    <h1 class="LogoTitle">Food Dollar Series</h1>
                    <p class="LogoSubtitle">Ministry of Agriculture</p>
                    </td>
                </tr>
            </tbody>
        </table>
        </a>
    </div>
    <nav class="navbar navbar-expand-md navbar-color">
        <div class="container-sm">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"><i class="fa-solid fa-house fa-xl"></i></a>
            </div>
            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler ml-auto float-right btncolor" data-bs-target="#navbarToggle" data-bs-toggle="collapse" type="button">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav mr-auto">
                    <li class='nav-item'><a class="nav-link" href="/background/"><p>{% translate "Background" %}</p></a></li>
                    <li class='nav-item'><a class="nav-link" href="/documentation/"><p>Documentation</p></a></li>
                    <li class='nav-item'><a class="nav-link" href="/quickfacts/"><p>{% translate 'Quick Facts' %}</p></a></li>
                    <li class='nav-item'><a class="nav-link" href="/glossary/"><p>{% translate 'Glossary' %}</p></a></li>
                    <li class='nav-item'><a class="nav-link" href="/download/"><p>{% translate 'Download the Data' %}</p></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
