:root {
    --footercolor: #609966;
    --navbarcolor: #609966;
    --btncolor: #609966;
    --socialcolor: #609966;
    --brightText: #ffffff;
  }

h2 {
    padding: 1rem 0 0.5rem;
  }
  
p {
    font-size: 1.2rem;
    margin: 0;
  }
  
li {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  
.logo-area {
    width: fit-content;
  }

.LogoTitle {
  padding-top: 3%;
  color: #000;
  font-family: 'Noto Sans TC';
  font-weight: 600;
  margin: 0;
  font-size: 1.5rem;
  }

.LogoSubtitle {
  color:#000;
  font-family: 'Noto Sans TC';
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;
  }

.Logo {
  width: 76.31px;
  aspect-ratio: auto;
  }

.drop-down-menu {
    width: 40%;
  }
  
.content {
    padding: 1rem 0rem;
  }
  
.btncolor {
    background-color: var(--btncolor) !important;
    color: var(--brightText) !important;
  }
  
.btncolor:hover, .btn-danger:hover{
    color: var(--brightText) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  
.navbar-color {
    background-color: var(--navbarcolor);
  }
  
.footer-color {
    background-color: var(--footercolor);
  }
  
body {
    background: #fafafa;
  }
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
.site-header .navbar-nav .nav-link {
    color: var(--brightText);
  }

li.nav-item {
    padding-bottom: 0;
  }
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #609966;
    border-radius: 10%;
  }
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.pdfobject {
    width: 60%;
    aspect-ratio: 1.33;
  }
  
.title-style {
      font-family: fell, Georgia, Cambria, 'Times New Roman', Times, serif !important;
  }
  
.subtitle-style {
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: rgba(117, 117, 117, 1) !important;
  }

#pdfarea{
  text-align: center;
}

.container-sm {
  width: 60%;
}

.sidenav {
  border: gray 1px solid;
  border-radius: 10%;
  background-color: #C7E9B0;
  color: rgb(34, 34, 34);
  width: 17%;
  position: fixed;
  left: 3%;
  right: 10px;
}

.sidenav-sm {
  position: relative;
}

.sidenav li {
  padding: 0;
  font-size: 1rem;
}

.sidenav .nav-item {
  padding-top: 0.5rem;
}

.container {
  position: relative;
}
