{% extends "components/header.html" %}
{% block content %}
<div class="container content" id="download">
    <p><span>Food dollar data tables are available in Excel and csv format. Some notes about the data files:</span></p>
    <p><span>The </span><strong><span>FoodDollarData.xls</span></strong><span> file and the </span><strong><span>FoodDollarData.csv</span></strong><span> file include statistics reported in current year dollars. In the data rows, each row statistic covers a unique combination of year, unit of measurement, table number, and category number.</span></p>
</div>
{% endblock %}