{% extends "components/header.html" %}
{% load i18n %}
{% block content %}
<div class='container content' id="overview">
    <p>{% blocktrans %}
        The Food (New Taiwan) Dollar Series measures annual expenditures by Taiwan consumers on domestically produced food. 
        This data series is composed of three primary series—the marketing bill series, the industry group series, 
        and the primary factor series—that describe different aspects of the food-supply chain. 
        The three series show three different ways to split up the same food dollar. For more information about the Food Dollar Series, see:
    {% endblocktrans %}</p>
    <p><a href="https://www.ers.usda.gov/publications/pub-details/?pubid=44827"><span>
        A Revised and Expanded Food Dollar Series: A Better Understanding of Our Food Costs
    </span></a></p>
    <p><a href="https://youtu.be/SkqOho0cMOA"><span>
        YouTube: 錢花去哪了? 建構台灣食品消費金額鏈
    </span></a></p>
    <p><div id="pdfarea"><iframe src="../static/files/Food_Dollar_Series.pdf" class="pdfobject" type="application/pdf"></iframe></div></p>
    <p>{% blocktrans %} All statistics reported in the dollar bill images represent a percentage of an average annual food dollar expenditure (for more information, see the 
        <a href="/glossary/" rel="noopener"> Glossary</a> page).{% endblocktrans %}
        {% blocktrans %} The same statistics reported in total dollar denominations are available in downloadable tables (for more information, see the 
        <a href="/download/" rel="noopener">Download the Data</a> page).{% endblocktrans %}
        </p>
    <p>{% blocktrans with year=objects.latestPriodData next=objects.nextPeriodData nextreleased=objects.nextDataReleasedTime %} 
        Data are available from 1981 to {{year}} and are updated every 5 years. The data for {{ next }} will be released on the end of {{ nextreleased }}.
    {% endblocktrans %}</p>
    <p>{% blocktrans with year=objects.latestPriodData next=objects.nextPeriodData nextreleased=objects.nextDataReleasedTime %}
        Roughly every 5 years since 1981, a new benchmark data source is published based on the Directorate General of Budget, Accounting and Statistics(DGBAS). 
        With a new benchmark, all data in the Food Dollar Series covering years since the previous benchmark undergo a final revision. For example, in {{nextreleased}}, 
        the {{next}} benchmark data were integrated into the Food Dollar Series, so all data from 1981 to {{next}} in the series have been reconciled to the benchmark data for 1981, 1986, …, {{year}} and {{next}}. 
        Moreover, commodity-specific tables have been added to the data series that report only benchmark-year statistics (for more information, see Commodity Tables in the 
        <a href="/glossary/" rel="noopener">Glossary</a> page.)
    {% endblocktrans %}</p>
</div>
{% endblock %}