{% extends "components/header.html" %}
{% load i18n %}
{% block content %}
<div class = 'container content' id="quickfacks">
    <select  class="form-select" id="plottings">
        <option selected>Select the type of plotting</option>
        <option value="Stage Share">Stage Share</option>
        <option value="Marketing bill">Marketing bill</option>
        <option value="Industry group">Industry group</option>
        <option value="Primary factor">Primary factor</option>
    </select>
    <div class="selectorArea row mb-2">
        <div class="col-mb-12 col-lg-6">
            <select id='years' class="form-select">
                <option selected value=0>{% translate "Select a year"%}</option>
            </select>
        </div>
        <div class="col-mb-12 col-lg-6" style="visibility: hidden">
            <select id='sectors' class="form-select ">
                <option selected>{% translate "Select a sector"%}</option>
            </select>
        </div>
    </div>
    <div class="row StageShareContainer" style="display: none">
        <div class='col col-lg-6 col-md-12 col-sm-12' id='StageShareArea'>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12">
            <p><span>{% blocktrans %} The Food Dollar Series provides an overview of the food system, with estimates of the farm share and of the distribution of food dollar, value added shares over time:{% endblocktrans %}</span></p>
            <ul>
                <li><span>{% blocktrans %} For a dollar representative of all domestically produced food spent in the United States in 2021, U.S. farmers sold 14.5 cents of farm products to nonfarm establishments (farm share), down from 15.5 cents in 2020.{% endblocktrans %}</span></li>
                <li><span>{% blocktrans %} Farm production’s proportion of the food dollar decreased to 7.4 cents in 2021. This is the lowest value in the series so far, which has been reached in 3 prior years: 1993, 2002, and 2019.{% endblocktrans %}</span></li>
                <li><span>{% blocktrans %} Food-service costs per food dollar increased from 30.1 cents in 2020 to 33.6 cents in 2021. The foodservice share is again at a series high, after increasing for 8 straight years (2012–2019) and sharply decreasing in 2020.{% endblocktrans %}</span></li>
                <li><span>{% blocktrans %} Property income’s share of the food dollar increased in 2021 to 39.4 cents, after increasing 4.3 cents in 2020. This pre-tax income paid to the owners of non-labor factors of production is 4.2 cents higher than its historical average.{% endblocktrans %}</span></li>
            </ul>
        </div>
    </div>
    <div class="MarketingShareContainer row" style='display: none'>
        <div id='MarketingShareArea' class='col-12'>
        </div>
        <div class='col-12'>
            <p>For calendar year <span class="theYear">2016</span>, the farm share was <span id='FarmShareValue'>24.0</span>% of each food New Taiwan dollar expenditure and the marketing bill was <span id='MarketingShareValue'>76.0</span>% accounting for the remainder.</p>
        </div>
    </div>
    <div class="IndustryShareContainer row" style='display: none'>
        <div class='col-12' id="IndustryShareArea">
        </div>
        <div class='col-12'>
            <p>For calendar year <span class="theYear">2016</span>, farm production value added was <span id='FarmProductionValue'>15.6</span>% of each food dollar expenditure, implying that <span id='ImplyingValue'>8.4</span>% from farm commodity sales (from the farm share <span id='FarmShare'>24.0</span>%) was used to purchase products from the other industry groups. The <span class="theYear">2016</span> industry group, value added food dollar also indicates about <span id='IndustryGroupValue'>37.9</span>% of the food dollar value cover the services from food retailers (<span id='RetailTradeValue'>17.7</span>%) and foodservice establishments (<span id='FoodServiceValue'>20.2</span>%). Energy used throughout the food supply chain accounted for <span id='EnergyValue'>3.9</span>% of every <span class="theYear">2016</span> food dollar expenditure. Advertising accounted for <span id='AdvertisingValue'>1.2</span>% of a food dollar expenditure.</p>
        </div>
    </div>
    <div class="PrimaryShareContainer row" style='display: none'>
        <div class='col-12' id='PrimaryShareArea'>
        </div>
        <div class='col-12'>
            <p>For calendar year <span class="theYear">2016</span>, the primary factor series indicates <span id='CompensationValue'>46.6</span>% of every food dollar expenditure go to the compensation of domestic workers, <span id='OperatingSurplusValue'>26.0</span>% is dispensed as operating surplus, and the remainder is split among consumption of fixed capital, Taiwan government (Net taxes) and international assets (imports).</p>
        </div>
    </div>
</div>
{% endblock %}
